/* productdetail.css */
.container {

    align-items: center;
    justify-content: center;
}

.product {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 6px;
}

.detail-img {
    background-color: gray;
    max-width: 200px;
    margin-right: 20px;
}

p {
    font-size: 10px;
}


/* Add a new class for the container of the button */
.button-container {
    display: flex;
    justify-content: flex-end;
    /* Align items to the right side */
}

.cardbtns {
    /* Existing styles for the button */
    background-color: #ffe600;
    font-weight: bold;
    line-height: 5vh;
    color: #000000;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cardbtns:hover {
    background-color: #3cb300;
}

/* Styles for screens with a maximum width of 767 pixels */
@media screen and (max-width: 767px) {
    .product {
        flex-direction: column;
        /* Stack the image and product details in a column layout */
        align-items: center;
        /* Center align the items */
    }

    .detail-img {
        margin-right: 0;
        width: 100%;
        height: 40vh;
        margin-bottom: 10px;
        /* Remove right margin and add bottom margin for spacing */
    }

    .product-details {
        text-align: center;
        /* Center align the product details */
    }

    .button-container {
        justify-content: center;
        /* Center align the button */
    }
}

/* Styles for screens with a maximum width of 479 pixels */
@media screen and (max-width: 479px) {
    .cardbtns {
        font-size: 12px;
        /* Reduce the font size for small screens */
    }
}