/* Add styles for the Bootstrap modal */
.modal-content {
    background-color: #fff;
    /* Set the background color of the modal content */
    border-radius: 8px;
    /* Add rounded corners to the modal content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a box shadow to create a shadow effect */
}

.modal-header {
    background-color: khaki;
    /* Set the background color of the modal header */
    border-bottom: none;
    /* Remove the bottom border of the modal header */
    padding: 15px;
    /* Add some padding to the modal header */
}

.modal-title {
    font-size: 18px;
    /* Set the font size of the modal title */
    font-weight: bold;
    /* Add bold font weight to the modal title */
    text-decoration: none;

}


.modal-header button {
    background-color: red;
}

.modal-title button {
    margin-left: 12px;
    font-size: 20px;
    /* Set the font size of the Close button */
    background-color: #377037;
    font-weight: bold;
}

.modal-title button:hover {
    color: #fff;
    /* Set the background color of the secondary button on hover */
}


.modal-body {
    padding: 15px;
    /* Add some padding to the modal body */
}

.modal-footer {
    border-top: none;
    /* Remove the top border of the modal footer */
    padding: 15px;
    /* Add some padding to the modal footer */
}

/* Style the Close button in the modal header */
.modal-header .close {
    font-size: 20px;
    /* Set the font size of the Close button */
}

/* Style the secondary button in the modal footer */
.modal-footer .btn-secondary {
    background-color: #020202;
    font-size: 15px;
    /* Set the background color of the secondary button */
    color: #fff;
    /* Set the text color of the secondary button */
    font-weight: bold;
    /* Add bold font weight to the secondary button */
    border-radius: 5px;
    /* Add rounded corners to the secondary button */
}

/* Style the secondary button on hover */
.modal-footer .btn-secondary:hover {
    background-color: red;

    /* Set the background color of the secondary button on hover */
}


button {
    outline: none;
    border-radius: 5px;
}

button:hover {
    outline: none;
    background-color: green;
}

.img-card {
    height: 100px;
    width: 100px;
    margin-top: 16px;
    background: transparent;
}

.btn {
    background: yellow;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 5px;

}

.button-cart-view {
    display: flex;
    justify-content: space-between;
}

.view-btn {
    background: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 5px;
}

.view-btn:hover {
    background: #377037;
    color: #fff;
}

.cart-btn {
    background: #c6430b;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 5px;
}

.cart-btn:hover {
    background: #89a90c;
    color: #fff;
}

.card-text {
    font-size: 15px;
    font-style: italic;
}

.card-title {

    height: 4.6vh;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    overflow: hidden;
}

.category-text {
    font-size: 10px;
    margin-left: 5px;
}

.flagicon {
    font-size: 10px;
    margin-left: 10px;
}

.tag {
    margin: 15px 25px;
    font-size: 10px;
    display: revert;
}



/* productcard.css */
.card {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 39%, rgba(242, 228, 198, 0.07055322128851538) 69%);
    align-items: center;
    /* Add some margin to create space between cards */
    margin: 10px;
    /* Set a auto width for medium-sized cards */
    width: auto;
    min-width: 100px;
    /* Apply a box shadow to create the shadow effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add some padding inside the card */
    padding: 10px;
    /* Set the border radius to create rounded corners */
    border-radius: 8px;
    /* Add a CSS transition for smooth hover effects */
    transition: box-shadow 0.3s ease;
}

/* Add a hover effect to increase the shadow on hover */
.card:hover {
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
}

/* Create a new CSS class to clear the floats after every fourth card */
.row .clearfix {
    clear: both;
}

.filter {
    display: flex;
}

.filter-body {
    display: flex;
    gap: 10px;

}

.suggestions {
    position: absolute;
    font-style: #fff;
    color: #ffffff;
    margin-top: 30px;
    z-index: 1;
    width: 30%;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 0.4206932773109243) 0%, rgba(68, 21, 43, 0.9977240896358543) 88%, rgba(252, 176, 69, 1) 100%);
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
}

.suggestion {
    padding: 8px 12px;
    font-style: #fff;
    cursor: pointer;
    border: none;
}

.suggestion:hover {
    background-color: #262323;
}


/* Set the width of the cards to 25% to fit four cards in each row */
/* On medium-sized screens (768px and above), each card will take up 4 columns */
/* On small screens, you may want to change the width to 50% or adjust as needed */

/* Styles for screens with a maximum width of 649 pixels */
@media screen and (max-width: 767px) {
    .col-md-3 {
        width: 100%;
        float: none;
        /* Reset the card width and float */
    }

    .card {
        /* Set a new width to fit one card per row on small screens */
        width: 100%;
        margin-left: 0px;
        /* Add some margin to create space between cards */
        margin-bottom: 10px;
    }

    input[type="text"],
    select {
        width: 100%;
        /* Make the search input and select full width */
    }

    .filter-body {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;

        /* align-items: center;
        align-content: center; */
        /* Stack the filter elements in a column layout */
    }

    /* Add some spacing between filter elements */
    .filter-body>*+* {
        width: auto;
        margin-top: 10px;
    }

    .filter-body button {
        /* Set a smaller width for the buttons */
        width: 80px;
        /* Adjust the font size and padding for a more compact look */
        font-size: 15px;
        padding: 3px 6px;
    }

    .suggestions {
        margin: 0px;
        margin-left: 11.75rem;
        font-size: 11px;
        width: 50%;
        border-style: double;
        border: none;
    }

    .card-title {
        height: auto;
        /* Remove the fixed height */

    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .button-cart-view {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* Add this line to allow button wrapping */
    }

    /* Add some margin between the buttons */
    .button-cart-view .view-btn,
    .button-cart-view .cart-btn {
        margin: 5px;
    }

}

@media screen and (min-width:768px) and (max-width:1080px) {
    .col-md-3 {
        width: 50%;
        float: none;
        /* Reset the card width and float */
    }

    .card {
        width: auto;
        margin-left: 0px;
        /* Add some margin to create space between cards */
        margin-bottom: 10px;
    }

    .card-title {
        height: 4.6vh;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: bold;
        margin-top: 10px;
        overflow: hidden;
    }


}